.tile {
  padding: 16px;
  border-radius: 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  @for $i from 1 through 100 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.05}s;
    }
  }

  &, img {
    border: 1px solid var(--color-light);
  }

  img {
    --size-image: 64px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    height: var(--size-image);
    width: var(--size-image);
  }

  .title {
    color: var(--color-dark);
  }

  p {
    color: var(--color);
    font-size: 0.85rem;
    line-height: 1.25rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,15%,0);
    transform: translate3d(0,15%,0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,15%,0);
    transform: translate3d(0,15%,0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}